.GameField {
    width: 600px;
    height: 600px;
}

.GamePanel {
    margin: 0 0 0 0;
    width: 200px;
    height: 600px;
    background-image: url("../images/background.png");
    background: repeat-x repeat-y;
}

.MainBlock {
    margin: 0 0 0 0;
    display: inline-block;
    float: left;
}

.LevelControl {
    width: 100%;
    height: 50%;
}

.ConfigureSoundButton {
    height: 16px;
    width:16px;
}

